body {
    background: #ffffff;
}

.notice {
    margin: 20px;
    border: green 1px solid;
    color: green;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    border: red 1px solid;
    color: red;
    padding: 30px;
    text-align: center;
    width: 100%;
}
.toRight li a{
color: white;
}


