{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <ul>
                {% for tag in tags %}
                    <li><a href="{{ path('tag_posts', {'id': tag.id}) }}">{{ tag.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="col-9">
            {% for post in posts  %}
                {% if post.date is not null and post.date <= date() %}
                    <h3><a href="{{ path('one_post', {'id': post.id}) }}">{{ post.title }}</a></h3>
                    <p>{{ post.description }}</p>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}