{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h3><a href="">{{ post.title }}</a></h3>
    <p>Дата создания:{{ post.createDate | date('Y-m-d') }} - Дата публикации {{ post.date | date('Y-m-d') }} </p>
    <p>автор:{{ post.userId.username }}</p>
    <p>{{ post.description }}</p>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 'l', 'mark': 1}) }}">качественно</a>
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 'l', 'mark': -1}) }}">не качественно</a>
        <a class="btn btn-outline-success" >{{ like }}</a>
    </div>

    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 's', 'mark': 1}) }}">доволен</a>
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 's', 'mark': -1}) }}">не доволен</a>
        <a class="btn btn-outline-success" >{{ happy }}</a>
    </div>

    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 'a', 'mark': 1}) }}">актуально</a>
        <a class="btn btn-secondary" href="{{ path('markPost', {'post': post.id,'type': 'a', 'mark': -1}) }}">не актуально</a>
        <a class="btn btn-outline-success" >{{ actuality }}</a>
    </div>

    <hr>

    <h2>Комментарии</h2>
    <hr>
    {{ form(form) }}
    <div>
        {% for comment in comments  %}
            <div>
                <h4>{{ comment.userId.email }}</h4>
                <p>{{ comment.message }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}