{% extends 'base.html.twig' %}

{% block content %}
    <h1>Профиль</h1>
<h2>{{ user.email }}</h2>
    <hr>
    <h2>Рейтинг</h2>
    <h3>{{ rating }}</h3>
{% endblock %}

{% block title %}

{% endblock %}

